{{#with data}}
{{>header}}
<main id="app" class="main-section">
	{{>intro}}
	{{>features}}
	{{>skills}}
	{{>portfolio}}
	{{>contact}}
	{{>team}}
	{{>testimonial}}
	{{>customers}}
	{{>funfacts}}
	{{>map}}
</main>
{{>footer}}
{{/with}}
{{>modals}}
