<main id="app" class="main-section">
	{{>header}}
	{{#with data}}
		{{>intro}}
		{{>features}}
		{{>skills}}
		{{>portfolio}}
		{{>contact}}
		{{!-- {{>portfolio}} --}}
		{{!-- {{>team}} --}}
		{{!-- {{>funfacts}} --}}
		{{!-- {{>testimonial}} --}}
		{{!-- {{>contact}} --}}
	{{/with}}
	{{!-- {{>footer}} --}}
</main>
