<main id="app" class="main-section">
	{{>header}}
	{{#with data}}
		{{>intro}}
		{{>features}}
		{{>skills}}
		{{>portfolio}}
		{{>contact}}
		{{>team}}
		{{>testimonial}}
		{{>customers}}
		{{>funfacts}}
		{{>map}}
	{{/with}}
	{{>footer}}
</main>
