<main id="app" class="main-section">
	{{>header}}
	{{#with data}}
		{{>home}}
		{{>about}}
		{{>resume}}
		{{>portfolio}}
		{{>team}}
		{{>funfacts}}
		{{>testimonial}}
		{{>blog}}
		{{>contact}}
	{{/with}}
	{{>footer}}
</main>
