//
//
// Layout for intro block

.intro {
  position: relative;
  padding-top: 130px;
  padding-bottom: 55px;
  background-color: #6f7d86;
  background-image: url('../images/bg-intro-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center 47px;
  background-size: 700px auto;

  &::after {
    content: '';

    position: absolute;
    z-index: 5;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;

    width: 0;
	  height: 0;
	  border-left: 160px solid white;
	  border-right: 160px solid white;
	  border-top: 40px solid transparent;
  }

  &__inner {
    @include container();
    text-align: center;
  }

  &__logo {
    display: none;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    position: relative;
    font-family: $font-stack;
    font-weight: $weight-light;
    font-size: $h1-size - 15px;
    line-height: $h1-line-height - 10px;
    text-transform: uppercase;
    color: white;
  }

  &__title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    border-bottom: 1px solid white;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 25px;
    font-family: $font-stack;
    font-weight: $weight-thin;
    font-size: $h1-size - 25px;
    line-height: $h1-line-height - 20px;
    text-transform: uppercase;
    color: #fff000;
  }

  &__btn-wrap {
    margin-bottom: 10px;
  }

  &__btn {
    padding: 10px 35px;
    border-radius: 5px;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-light;
    text-transform: uppercase;
    text-decoration: none;

    background: #fff000;
    box-shadow: 0 5px 10px 0 #d6ae00;
    color: black;
    outline: none;
    cursor: pointer;
  }

  &__btn:hover {
    box-shadow: 0 5px 5px 0 #d6ae00;
  }

  &__btn:active {

  }
}
