//
//
// Layout for main header

.main-header {
  background: white;
  position: fixed;
  z-index: 10;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;

    background: url('../images/colorline.png') 100% 100%;
  }

  &__inner {
    @include container();
    @include clearfix();
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;    // Absolute element inside (.main-nav--visible)
  }

  &__inner--menu-visible {
    border-bottom: 1px solid #f7f7f7;
  }

  &__logo-wrap {
    float: left;
    width: 50%;
  }

  &__logo-wrap img{
    width: 134px;
    height: 35px;
  }

  &__toggle-wrap {
    float: right;
    max-width: 25%;
    padding-top: 5px;
  }
}

@media (min-width: $screen_md) {
  .main-header {

    &__inner {
      @include container--tablet();
      padding-top: 35px;
      padding-bottom: 25px;
    }

    &__logo-wrap img{
      width: 154px;
      height: 41px;
    }
  }
}

@media (min-width: $screen_lg) {
  .main-header {

    &__inner {
      @include container--desktop();
      padding-top: 35px;
      padding-bottom: 20px;
    }

    &__logo-wrap {
      width: 160px;
    }

    &__toggle-wrap {
      display: none;
    }
  }
}
