//
//
// Base styles

body {
  min-width: 320px;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-stack;
}

.main-section {
  overflow: hidden;
}

// For video tag in IE8 (not supported)
video {
  display: block;
}

.fixed {
  height: 100%;
  overflow: hidden;
}

* {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
