//
//
// Typography
$font-stack:  'Roboto', sans-serif;
$font-size:   14px;
$line-height: 22px;

$h1-size:        $font-size + 31px;
$h1-line-height: $line-height + 26px;

$weight-thin:   100;
$weight-light:  300;
$weight-medium: 500;

//
//
// Colors from logo
$blue-color:   #4a77da;
$orange-color: #feba00;
$green-color:  #70b701;

//
//
// Viewport size
$screen_md: 660px;
$screen_lg: 960px;
