<section class="contact">
  <div class="contact__inner">

    <h1 class="contact__header" id="contact"><span class="contact__header-addition">Have any </span>questions?</h1>
    <p class="contact__text">Leave your message <span class="contact__text-addition">and our manager will answer you</span></p>

    <form class="contact__form" action="" method="post">
      <input type="text" name="name" placeholder="Name" required>
      <input type="email" name="email" placeholder="E-mail" required>
      <textarea name="message" placeholder="Message" required></textarea>
      <div class="contact__flash-message">
        <div class="contact__flash-message-success invisible">Message was successfully sent</div>
        <div  class="contact__flash-message-fail invisible">Some problems with your request. Check your name, email and message for non-standard characters.</div>
      </div>
      <input type="submit" value="Send request">
    </form>

    <div class="contact__links">
      <a href="skype:{{{company.skypeLogin}}}">Skype</a>
      <a href="{{{company.upworkUrl}}}" target="_blank">Upwork</a>
      <a href="{{{company.githubUrl}}}" target="_blank">GitHub</a>
      <a href="mailto:{{{company.supportEmail}}}">Support</a>
    </div>

  </div>
</section>
