<section class="customers">
  <div class="customers__inner">

    <h1 class="customers__header">Our customers</h1>

    <div class="customers__logos">
      <img src="images/customers1.png" width="200" alt="customer">
      <img src="images/customers2.png" width="200" alt="customer">
      <img src="images/customers3.png" width="200" alt="customer">
    </div>

  </div>
</section>
