<section class="features">

  <div class="features__inner">

      <div class="features__item">
        <h2 class="features__title">Responsive</h2>
        <p class="features__text">
          of responsive interface for web sites with HTML5, CSS3, Twitter Bootstrap, Less, Sass
        </p>
      </div>

      <div class="features__item">
        <h2 class="features__title">Design of frontend</h2>
        <p class="features__text">
          architecture for single page applications with AngularJs, Backbone, KnockoutJS, EmberJs, React.js, Ext JS\
        </p>
      </div>

      <div class="features__item">
        <h2 class="features__title">Design of backend</h2>
        <p class="features__text">
          architecture with popular server side Node.js frameworks like Express, Sails.js
        </p>
      </div>

      <div class="features__item">
        <h2 class="features__title">Jquery</h2>
        <p class="features__text">
          of responsive interface for web sites with HTML5, CSS3, Twitter Bootstrap, Less, Sass
        </p>
      </div>

      <div class="features__item">
        <h2 class="features__title">Charts</h2>
        <p class="features__text">
          architecture for single page applications with AngularJs, Backbone, KnockoutJS, EmberJs, React.js, Ext JS
        </p>
      </div>

      <div class="features__item">
        <h2 class="features__title">Design of full stack</h2>
        <p class="features__text">
          architecture with popular server side Node.js frameworks like Express, Sails.js
        </p>
      </div>

  </div>

</section>
