<footer class="main-footer">

  <p class="main-footer__adress-line-1">Russia, Saint-Petersburg</p>
  <p class="main-footer__adress-line-2">{{{company.address}}}</p>

  <p class="main-footer__skype"><span class="main-footer__skype-logo-parent">Bragin Nikita</span> branikita</p>

  <p class="main-footer__links">
    <a href="{{{company.upworkUrl}}}">Upwork</a>
  </p>

  <a class="flying-btn invisible scroll" href="#contact">Hire us</a>
</footer>
