<footer class="main-footer">

  <p class="main-footer__adress-line-1">Russia, Saint-Petersburg</p>
  <p class="main-footer__adress-line-2">
    Bolshaya Pushkarskaya 22, Room 402, Business center "Senator"
  </p>

  <p class="main-footer__skype"><span class="main-footer__skype-logo-parent">Bragin Nikita</span> branikita</p>

  <p class="main-footer__links">
    <a href="#">Upwork</a>
  </p>

  <a class="flying-btn invisible" href="#contact">Hire us</a>
</footer>
