<div class="funfacts">

  <div class="funfacts__left-column">

    <div class="funfacts__clients">
      <div class="funfacts__clients-number">{{{company.happyClients}}}</div>
      <div class="funfacts__clients-text">Happy clients</div>
    </div>

    <div class="funfacts__projects">
      <div class="funfacts__projects-number">{{{company.projectsCompleted}}}</div>
      <div class="funfacts__projects-text">Projects</div>
    </div>

  </div>

  <div class="funfacts__right-column">

    <div class="funfacts__awards">
      <div class="funfacts__awards-number">{{{company.awardWon}}}</div>
      <div class="funfacts__awards-text">Award won</div>
    </div>

    <div class="funfacts__years">
      <div class="funfacts__years-number">{{{company.years}}}</div>
      <div class="funfacts__years-text">Years</div>
    </div>

  </div>

  <div class="funfacts__triangle">
    <div class="funfacts__triangle-part funfacts__triangle-part--left"></div>
    <div class="funfacts__triangle-part funfacts__triangle-part--right"></div>
  </div>

</div>
