<div class="funfacts">

  <div class="funfacts__left-column">

    <div class="funfacts__clients">
      <div class="funfacts__clients-number">1455</div>
      <div class="funfacts__clients-text">Happy clients</div>
    </div>

    <div class="funfacts__projects">
      <div class="funfacts__projects-number">2455</div>
      <div class="funfacts__projects-text">Projects</div>
    </div>

  </div>

  <div class="funfacts__right-column">

    <div class="funfacts__awards">
      <div class="funfacts__awards-number">11</div>
      <div class="funfacts__awards-text">Award won</div>
    </div>

    <div class="funfacts__years">
      <div class="funfacts__years-number">7</div>
      <div class="funfacts__years-text">Years</div>
    </div>

  </div>

</div>
