<section id="intro" class="intro">
  <video class="intro__video" loop muted autoplay poster="images/bg-intro-fullsize@1x.jpg">
    <source src="/video/Soshace.webm" type="video/webm">
    <source src="/video/Soshace.mp4" type="video/mp4">
    <source src="/video/Soshace.ogv" type="video/ogg">
  </video>

  <div class="intro__inner">

    <div class="intro__logo">
      <img src="/images/logo.png" width="200" height="53" alt="Soshace Logo">
    </div>

    <h1 class="intro__title">{{{company.title}}}</h1>
    <h2 class="intro__subtitle">{{{company.subtitle}}}</h2>

    <div class="intro__btn-wrap">
      <a class="intro__btn scroll" href="#contact">{{t 'get in touch'}}</a>
    </div>

  </div>

  <div class="intro__triangle">
    <div class="intro__triangle-part intro__triangle-part--left"></div>
    <div class="intro__triangle-part intro__triangle-part--right"></div>
  </div>

</section>
