<div class="map-wrap">

  <div class="map" id="map"></div>

  <div class="map-wrap__triangle">
    <div class="map-wrap__triangle-part map-wrap__triangle-part--left"></div>
    <div class="map-wrap__triangle-part map-wrap__triangle-part--right"></div>
  </div>
  
</div>
