<section id="resume" class="scroll-section ">
    <section id="skill" class="root-sec white skill-wrap">
        <div class="sec-overlay">
            <div class="container">
                <div class="row">
                    <div class="clearfix skill-inner">
                        <div class="col-sm-12 col-md-3">
                            <div class="skill-left">
                                <h2 class="title">Skills</h2>

                                <p class="regular-text">Man behind the gun, any sophisticated weapons. Human remains
                                    that taking the role. We are experienced in utilizing all resources.</p>
                            </div>
                        </div>

                        <!-- skills container -->
                        <div class="col-sm-12 col-md-6 col-md-offset-1">
                            <div class="skill-right">
                                <div id="skillSlider" class="clearfix skill-graph">

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="100%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">Photoshop</span>

                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">100%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="60%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">JavaScript</span>

                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">60%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="85%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">Illustrator</span>

                                                        <div class="hr-wrap">

                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">85%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="65%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">HTML</span>

                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">65%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="60%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">JavaScript</span>

                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">60%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="35%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">CSS</span>

                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">35%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="85%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">Illustrator</span>

                                                        <div class="hr-wrap">

                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">85%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="60%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">Wordpress</span>

                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">60%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="85%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">Illustrator</span>

                                                        <div class="hr-wrap">

                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">85%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="60%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">JavaScript</span>

                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count">60%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->

                                    <!-- single skill -->
                                </div>
                            </div>
                        </div>
                        <!-- /skills container -->
                    </div>
                </div>
                <div class="btn-wrapp skl-ctrl">
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-left"><i
                            class="mdi-navigation-chevron-left "></i></a>
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-right"><i
                            class="mdi-navigation-chevron-right "></i></a>
                </div>
            </div>
        </div>
        <!-- .container end -->
    </section>

    <section id="experience" class="root-sec padd-tb-120 brand-bg experience-wrap">
        <div class="container">
            <div class="row">
                <div class="experience-inner">
                    <div class="col-sm-12 col-md-10 card-box-wrap">
                        <div class="row">
                            <div class="clearfix section-head experience-text">
                                <div class="col-sm-12">
                                    <h2 class="title">Experience</h2>

                                    <p class="regular-text">Aliquam lobortis. Maecenas vestibulum mollis diam.
                                        Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere
                                        tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna
                                        dolor sagittis lacus.</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="overflow-hidden">
                                    <div class="row">
                                        <div id="experienceSlider" class="clearfix card-element-wrapper">
                                            <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall"
                                                 data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <h2 class="left-align card-title-top">January 2014 -
                                                            Present</h2>

                                                        <div class="valign-wrapper card-img-wrap">
                                                            <img class="activator" src="images/ghost_rider.jpg"
                                                                 alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                            <span class="card-title activator brand-text">UX/UI Designer<i
                                                                    class="mdi-navigation-more-vert right"></i></span>

                                                        <p>Apple.inc</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">UX/UI Designer<i
                                                                        class="mdi-navigation-close right"></i></span>

                                                            <p>Apple.inc</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            Collaboratively initiate collaborative schemas for
                                                            high-quality communities. Objectively create sticky
                                                            relationships via team building outsourcing.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall"
                                                 data-wow-delay=".2s" data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <h2 class="left-align card-title-top">January 2014 -
                                                            Present</h2>

                                                        <div class="valign-wrapper card-img-wrap">
                                                            <img class="activator" src="images/lion.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                            <span class="card-title activator brand-text">UX/UI Designer<i
                                                                    class="mdi-navigation-more-vert right"></i></span>

                                                        <p>Android One</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">UX/UI Designer<i
                                                                        class="mdi-navigation-close right"></i></span>

                                                            <p>Android One</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            Collaboratively initiate collaborative schemas for
                                                            high-quality communities. Objectively create sticky
                                                            relationships via team building outsourcing.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall"
                                                 data-wow-delay=".4s" data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <h2 class="left-align card-title-top">January 2014 -
                                                            Present</h2>

                                                        <div class="valign-wrapper card-img-wrap">
                                                            <img class="activator" src="images/bull.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                            <span class="card-title activator brand-text">UX/UI Designer<i
                                                                    class="mdi-navigation-more-vert right"></i></span>

                                                        <p>Android One</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">UX/UI Designer<i
                                                                        class="mdi-navigation-close right"></i></span>

                                                            <p>Android One</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            Collaboratively initiate collaborative schemas for
                                                            high-quality communities. Objectively create sticky
                                                            relationships via team building outsourcing.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 cold-xs-12 single-card-box">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <h2 class="left-align card-title-top">January 2014 -
                                                            Present</h2>

                                                        <div class="valign-wrapper card-img-wrap">
                                                            <img class="activator" src="images/beakers.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                            <span class="card-title activator brand-text">UX/UI Designer<i
                                                                    class="mdi-navigation-more-vert right"></i></span>

                                                        <p>Windows Phone</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">UX/UI Designer<i
                                                                        class="mdi-navigation-close right"></i></span>

                                                            <p>Windows Phone</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            Collaboratively initiate collaborative schemas for
                                                            high-quality communities. Objectively create sticky
                                                            relationships via team building outsourcing.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 cold-xs-12 single-card-box">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <h2 class="left-align card-title-top">January 2014 -
                                                            Present</h2>

                                                        <div class="valign-wrapper card-img-wrap">
                                                            <img class="activator" src="images/kid.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                            <span class="card-title activator brand-text">UX/UI Designer<i
                                                                    class="mdi-navigation-more-vert right"></i></span>

                                                        <p>Windows Phone</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">UX/UI Designer<i
                                                                        class="mdi-navigation-close right"></i></span>

                                                            <p>Windows Phone</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            Collaboratively initiate collaborative schemas for
                                                            high-quality communities. Objectively create sticky
                                                            relationships via team building outsourcing.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapp exp-ctrl">
                        <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i
                                class="mdi-navigation-chevron-left brand-text"></i></a>
                        <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i
                                class="mdi-navigation-chevron-right brand-text"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="education" class="root-sec grey lighten-5 padd-tb-120 education-wrap">
        <div class="container">
            <div class="row">
                <div class="education-inner">
                    <div class="col-sm-12 col-md-10 card-box-wrap">
                        <div class="row">
                            <div class="clearfix section-head education-text">
                                <div class="col-sm-12">
                                    <h2 class="title">education</h2>

                                    <p class="regular-text">Aliquam lobortis. Maecenas vestibulum mollis diam.
                                        Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere
                                        tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna
                                        dolor sagittis lacus.</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="overflow-hidden">
                                    <div class="row">
                                        <div id="educationSlider" class="clearfix card-element-wrapper">

                                            <!-- single education -->
                                            <div class="col-sm-4 single-card-box wow fadeInUpSmall"
                                                 data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <h2 class="left-align card-title-top">20011 - 2012</h2>

                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="images/grad-cap.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                            <span class="card-title activator brand-text">Masters of Science<i
                                                                    class="mdi-navigation-more-vert right"></i></span>

                                                        <p>Oxford University</p>
                                                    </div>
                                                    <!-- Reveal content-->
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">Masters of Science<i
                                                                        class="mdi-navigation-close right"></i></span>

                                                            <p>Oxford University</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            Collaboratively initiate collaborative schemas for
                                                            high-quality communities. Objectively create sticky
                                                            relationships via team building outsourcing.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single education end -->

                                            <!-- single education -->
                                            <div class="col-sm-4 single-card-box wow fadeInUpSmall"
                                                 data-wow-delay=".2s" data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <h2 class="left-align card-title-top">2005 - 2007</h2>

                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="images/grad-cap.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                            <span class="card-title activator brand-text">Bachelor of Science<i
                                                                    class="mdi-navigation-more-vert right"></i></span>

                                                        <p>Oxford University</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">Bachelor of Science<i
                                                                        class="mdi-navigation-close right"></i></span>

                                                            <p>Oxford University</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            Collaboratively initiate collaborative schemas for
                                                            high-quality communities. Objectively create sticky
                                                            relationships via team building outsourcing.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single education -->

                                            <!-- single education -->
                                            <div class="col-sm-4 single-card-box wow fadeInUpSmall"
                                                 data-wow-delay=".4s" data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <h2 class="left-align card-title-top">2005 - 2007</h2>

                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="images/grad-cap.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                            <span class="card-title activator brand-text">A Level<i
                                                                    class="mdi-navigation-more-vert right"></i></span>

                                                        <p>Oxford College</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">A Level<i
                                                                        class="mdi-navigation-close right"></i></span>

                                                            <p>Oxford College</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            Collaboratively initiate collaborative schemas for
                                                            high-quality communities. Objectively create sticky
                                                            relationships via team building outsourcing.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single education -->

                                            <!-- single education -->
                                            <div class="col-sm-4 single-card-box">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <h2 class="left-align card-title-top">1995 - 2005</h2>

                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="images/grad-cap.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                            <span class="card-title activator brand-text">O Level<i
                                                                    class="mdi-navigation-more-vert right"></i></span>

                                                        <p>Oxford School</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">O Level<i
                                                                        class="mdi-navigation-close right"></i></span>

                                                            <p>Oxford School</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            Collaboratively initiate collaborative schemas for
                                                            high-quality communities. Objectively create sticky
                                                            relationships via team building outsourcing.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single education -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapp edu-ctrl">
                        <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-left"><i
                                class="mdi-navigation-chevron-left"></i></a>
                        <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-right"><i
                                class="mdi-navigation-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
