<section id="testimonial" class="testimonial">
  <div class="testimonial__inner">

    <a class="testimonial__header" href="{{{company.upworkUrl}}}" target="_blank"><h2>{{t 'we are on'}} Upwork</h2></a>

    <div class="testimonial__upwork-content">
      <p class="testimonial__intro">({{t 'visible only for logged users'}})</p>
      <img class="testimonial__description" src="/images/upwork-description.jpg" width="300" alt="Upwork Description">

      <div class="testimonial__top-rated">

        <p class="testimonial__top-rated-text">
          <span class="testimonial__top-rated-hidden">High Qualified & </span>Top Rated Team
        </p>

        <img class="testimonial__top-rated-staff" src="/images/upwork-staff.jpg" width="150" alt="Upwork Staff">

        <div class="testimonial__top-rated-t">
          <img class="testimonial__top-rated-total" src="/images/upwork-total.jpg" width="150" alt="Upwork Total">
          <img class="testimonial__top-rated-tests" src="/images/upwork-tests.jpg" width="150" alt="Upwork Tests">
        </div>

      </div>

      <div class="testimonial__feedback">
        <p class="testimonial__feedback-text">Feedback</p>
        <img class="testimonial__feedback-2" src="/images/upwork-feedback-2.jpg" width="300" alt="Upwork Feedback">
        <img class="testimonial__feedback-1" src="/images/upwork-feedback-1.jpg" width="300" alt="Upwork Feedback">
        <img class="testimonial__feedback-3" src="/images/upwork-feedback-3.jpg" width="300" alt="Upwork Feedback">
      </div>

    </div>

  </div>
</section>
