//
//
// Styles for features block

.features {
  padding-top: 70px;
  text-transform: uppercase;

  &__inner {
    @include container();
  }

  &__item {
    //width: 280px;
    margin-bottom: 80px;
    position: relative;
    text-align: center;
  }

  &__item::before {
    content: '';
    position: absolute;
    margin: auto;
    top: -55px;
    left: 0;
    right: 0;

    background-color: transparent;
    background-image: url('../images/fullstack.png');
    background-repeat: no-repeat;

    width: 41px;
    height: 46px;
    //background-position: -5px -2285px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;

    font-size: $h2-size - 14px;
    line-height: $h2-line-height - 14px;
    font-family: $font-stack;
    font-weight: $weight-medium;
    color: black;
  }

  &__text {
    margin: 0;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-thin;
    color: black;
  }

}
