//
//
// Styles for features block

.features {
  position: relative;
  padding-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  background: white;
  color: black;

  &::after {
    content: '';

    position: absolute;
    z-index: 5;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -60px;

    width: 0;
	  height: 0;
	  border-left: 160px solid transparent;
	  border-right: 160px solid transparent;
	  border-top: 40px solid white;
  }

  &__inner {
    @include container();
  }

  &__item {
    margin-bottom: 95px;
    position: relative;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item::before {
    content: '';
    position: absolute;
    margin: auto;
    top: -60px;
    left: 0;
    right: 0;

    width: 41px;
    height: 46px;

    background-color: transparent;
    background-image: url('../images/fullstack.png');
    background-repeat: no-repeat;
    background-size: 41px 46px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;

    font-size: $h2-size - 14px;
    line-height: $h2-line-height - 14px;
    font-family: $font-stack;
    font-weight: $weight-medium;
  }

  &__text {
    margin: 0;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-thin;
  }
}
