// Styles for flying button
.flying-btn {
  display: block;
  padding: 0px 10px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 9;

  background: #fff000;
  color: black;

  text-decoration: none;
  font-family: $font-stack;
  font-size: $font-size + 4px;
  line-height: $line-height + 20px;
  font-weight: $weight-normal;
  text-transform: uppercase;
  //animation: moving-down 0.6s;
  transition: bottom 0.2s ease-in-out;
}

.flying-btn:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: box-shadow 0.2s, transform 0.3s;
}

@media (min-width: $screen_md) {
  .flying-btn {
    right: 30px;
  }
}

.flying-btn--hidden {
  bottom: -50px;
}
