//
//
// Layout for intro block

.intro {
  position: relative;
  padding-top: 140px;
  padding-bottom: 65px;
  background-image: url('../images/bg-intro-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center 47px;
  background-size: 700px auto;
  overflow: hidden;
  transition: padding 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

}
  &__video {
    display: none;
  }

  &__inner {
    @include container();
    position: relative;
    z-index: 6; // need z-index because of bg video
    text-align: center;
  }

  &__logo {
    display: none;
  }

  &__title {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    font-family: $font-stack;
    font-weight: $weight-light;
    font-size: $h1-size - 15px;
    line-height: $h1-line-height - 10px;
    text-transform: uppercase;
    color: white;
    transition: width 0.3s ease, margin 0.3s ease, font-size 0.3s ease, line-height 0.3s ease;
  }

  &__title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    border-bottom: 1px solid white;
  }

  &__subtitle {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: $font-stack;
    font-weight: $weight-thin;
    font-size: $h1-size - 25px;
    line-height: $h1-line-height - 20px;
    text-transform: uppercase;
    color: #fff000;
    transition: width 0.3s ease, margin 0.3s ease, font-size 0.3s ease, line-height 0.3s ease;
  }

  &__btn-wrap {
    margin-bottom: 10px;
  }

  &__btn-wrap a {
    width: 30%;
  }

  &__btn {
    padding: 10px 35px;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-medium;
    text-transform: uppercase;
    text-decoration: none;

    background: #fff000;
    color: black;
    outline: none;
    cursor: pointer;
    transition: padding 0.3s ease, font-size 0.3s ease;
  }

  &__btn-wrap:hover {
    transform: scale(1.1);
    transition: transform 0.6s;
  }

  &__btn:active {
    transition: font-weight 0.3s;
  }

  &__triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    padding-bottom: 3.6%;
    z-index: 7;
    overflow: hidden;
  }

  &__triangle-part {
    position: absolute;
    top: 100%;
    background: white;
    width: 50%;
    padding-bottom: 108px;
    z-index: 2;
  }

  &__triangle-part--left {
    left: 50%;
    transform-origin: 0 0;
    transform: rotate(-4deg) skewX(86deg);
  }

  &__triangle-part--right {
    right: 50%;
    transform-origin: 100% 0;
    transform: rotate(4deg) skewX(-86deg);
  }
}

@media (min-width: $screen_md) {
  .intro {
    padding-top: 230px;
    padding-bottom: 180px;
    background-image: url('../images/bg-intro-tablet@1x.jpg');
    background-position: 45% 60px;
    background-size: 1200px auto;
    transition: padding 0.3s ease;

    &__inner {
      @include container--tablet();
    }

    &__logo {
      display: block;
      margin-bottom: 10px;
    }

    &__logo img {
      width: 300px;
      height: 79px;
      transition: width 0.3s ease, height 0.3s ease;
    }

    &__title {
      width: 480px;
      margin-bottom: 20px;
      font-size: $h1-size - 10px;
      line-height: $h1-line-height - 5px;
      transition: width 0.3s ease, margin 0.3s ease, font-size 0.3s ease, line-height 0.3s ease;
    }

    &__subtitle {
      width: auto;
      margin: 0;
      margin-bottom: 30px;
      font-size: $h1-size - 20px;
      line-height: $h1-line-height - 15px;
      transition: width 0.3s ease, margin 0.3s ease, font-size 0.3s ease, line-height 0.3s ease;
    }

    &__btn-wrap {
      margin-bottom: 15px;
    }

    &__btn {
      padding: 13px 45px;
      font-size: $font-size + 3px;
      transition: padding 0.3s ease, font-size 0.3s ease;
    }
  }
}

@media (min-width: $screen_lg) {
  .intro {
    margin-top: 80px;
    padding-top: 195px;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('../images/bg-intro-fullsize@1x.jpg'), linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-position: 50% 0%;
    background-size: auto 100%;
    height: 350px;

    &__video {
      position: fixed;
      display: block;
      top: 525px;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate3d(-960px, -540px, 0);
      background-image: url('../images/bg-intro-fullsize@1x.jpg'), linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), ;
      background-size: cover;
    }

    &__inner {
      left: 50%;
      top: 49%;

      display: block;
      width: 700px;
      height: 360px;
      padding: 0;
      margin-left: -350px;
      margin-top: -180px;

      transition: padding 0.3s ease;
    }

    &__logo {
      margin-bottom: 20px;
    }

    &__logo img {
      width: 450px;
      height: auto;
      transition: width 0.3s ease, height 0.3s ease;
    }

    &__title {
      width: 720px;
      margin-bottom: 30px;
      font-size: $h1-size + 10px;
      line-height: $h1-line-height;
      transition: width 0.3s ease, margin 0.3s ease, font-size 0.3s ease, line-height 0.3s ease;
    }

    &__title::after {
      bottom: -20px;
    }

    &__subtitle {
      margin-bottom: 40px;
      font-size: $h1-size - 10px;
      line-height: $h1-line-height;
      transition: width 0.3s ease, margin 0.3s ease, font-size 0.3s ease, line-height 0.3s ease;
    }

    &__btn {
      padding: 17px 65px 14px 65px;
      font-size: $font-size + 6px;
      transition: padding 0.3s ease, font-size 0.3s ease;
    }
  }
}
