//
//
// Styles for main footer

.main-footer {
  padding: 20px 0;
  background: white;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-stack;

  &__adress-line-1 {
    margin: 0;
    margin-bottom: 5px;

    font-size: $font-size;
    line-height: $line-height;
    font-weight: $weight-bold;
  }

  &__adress-line-2 {
    margin: 0;
    margin-bottom: 5px;

    font-size: $font-size;
    line-height: $line-height - 5px;
    font-weight: $weight-light;
  }

  &__skype {
    margin: 0;
    margin-bottom: 5px;

    font-size: $font-size;
    line-height: $line-height;
    font-weight: $weight-light;
  }

  &__skype-logo-parent {
    position: relative;
  }

  &__skype-logo-parent::before {
    content: '';
    position: absolute;
    left: -28px;

    background-color: transparent;
    background-repeat: no-repeat;

    width: 23px;
    height: 23px;
    background-size: 23px 23px;
    background-image: url('../images/logo-skype.png'); // img 23x23
  }

  &__links {
    margin: 0;
  }

  &__links a {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $weight-light;
    color: black
  }
}

@media (min-width: $screen_md) {
  .main-footer{
    padding: 30px 0;

    &__adress-line-1 {
      margin-bottom: 7px;

      font-size: $font-size + 2px;
      line-height: $line-height + 8px;
    }

    &__adress-line-2 {
      margin-bottom: 10px;

      font-size: $font-size + 2px;
    }

    &__skype {
      margin-bottom: 7px;

      font-size: $font-size + 2px;
    }

    &__links a {
      font-size: $font-size + 2px;
    }
  }
}

@media (min-width: $screen_lg) {
  .main-footer{
    padding: 40px 0;

    &__adress-line-1 {
      margin-bottom: 20px;
      font-size: $font-size + 8px;
    }

    &__adress-line-2 {
      margin-bottom: 20px;

      font-size: $font-size + 8px;
    }

    &__skype {
      margin-bottom: 20px;

      font-size: $font-size + 8px;
    }

    &__links a {
      font-size: $font-size + 8px;
    }
  }
}

// Styles for flying button
.flying-btn {
  display: block;
  padding: 0px 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;

  background: #fff000;
  color: black;

  text-decoration: none;
  font-family: $font-stack;
  font-size: $font-size + 4px;
  line-height: $line-height + 20px;
  font-weight: $weight-light;
  text-transform: uppercase;
}

.flying-btn:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: box-shadow 0.2s, transform 0.3s;
}

.invisible {
  display: none;
}

@media (min-width: $screen_md) {
  .flying-btn {
    right: 30px;
    bottom: 20px;
  }
}
