//
//
// Block of main navigation

.main-nav {
  display: none;

  &--visible {
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    top: 92px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;
    text-align: center;

    font-family: $font-stack;
    font-size: $font-size + 4px;
    line-height: $line-height + 20px;
    font-weight: $weight-light;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    padding: 18px 0;

    text-decoration: none;
    background: white;
    border-bottom: 1px solid #f7f7f7;
    color: $blue-color;
  }

  &__link:hover {
    color: $orange-color;
  }

  &__link:active {
    color: $green-color;
  }

  &__btn {
    border-bottom: none;
    background: #fff000;
    color: black;
  }

  &__btn:hover {
    text-decoration: underline;
    color: black;
  }

  &__btn:active {
    opacity: 0.9;
  }
}

@media (min-width: $screen_md) {
  .main-nav {

    &--visible {
      top: 108px;
    }
  }
}

@media (min-width: $screen_lg) {
  .main-nav {
    display: block;
    float: right;
    max-width: 1000px;
    font-size: 0;

    &__item {
      position: relative;
      display: inline-block;
      margin-right: 16px;
      vertical-align: middle;

      font-size: $font-size + 2px;
      line-height: $line-height;
    }

    &__item:last-child {
      margin-right: 0;
    }

    &__item::after {
      content: '';
      position: absolute;
    	top: 100%;
    	left: 0;
    	width: 100%;
    	height: 2px;
    	background: $blue-color;
    	transform: translateY(7px);
    	opacity: 0;
    	transition: opacity 0.3s, transform 0.3s;
    }

    &__item:nth-child(2n)::after,
    &__item:nth-child(5)::after {
      background: $orange-color;
    }

    &__item:nth-child(4)::after {
      background: $blue-color;
    }

    &__item:nth-child(3n)::after {
      background: $green-color;
    }

    &__item:hover::after {
      opacity: 1;
      transform: translateY(0px);
    }

    &__item:active {
      opacity: 0.3;
    }

    &__item:last-child::after {
      height: 0;
    }

    &__item:last-child:hover {
      border-bottom: none;
    }

    &__item:last-child:active {
      opacity: 1;
    }

    &__link {
      display: block;
      padding: 12px 0px 8px 0px;

      border-bottom: none;
      color: black;
    }

    &__link:hover {
      color: black;
    }

    &__link:active {
      color: black;
    }

    &__btn {
      padding: 12px 8px 8px 8px;
      border-radius: 5px;
      box-shadow: 0 4px 0 0 #d6ae00;
    }

    &__btn:hover {
      text-decoration: none;
      background-image: linear-gradient(#fff000, #fff88a);
    }

    &__btn:active {
      box-shadow: inset 0 3px 3px 0 #d6ae00;
    }
  }
}

@media (min-width: $screen_xl) {
  .main-nav {
    &__item {
      margin-right: 35px;
    }
  }
}
