//
//
// Styles for portfolio block

.portfolio {
  padding-top: 100px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    z-index: 5;
    height: 50px;
    background-image: url('../images/triangle-orange.svg');
    background-repeat: no-repeat;
    background-size: 100% 50px;
  }

  &__inner {
    @include container();
  }

  &__header {
    margin: 0;
    margin-bottom: 50px;

    font-size: $h1-size - 10px;
    line-height: $h1-line-height;
    font-family: $font-stack;
    font-weight: $weight-medium;
    text-transform: uppercase;
    color: #2e5fb2;
  }

  &__slider {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%;
    height: 240px;
    overflow: hidden;
  }

  &__slide {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
    text-align: center;
  }

  &__slide img {
    width: 100%;
    height: auto;
  }

  &__project-info {
    padding: 10px;
    width: 80%;
    height: 65px;
    text-align: left;

    position: absolute;
    z-index: 6;
    left: 0;
    bottom: 0;
    background: rgba(112, 183, 1, 0.8);
    color: white;
  }

  &__slide:nth-child(2n) &__project-info {
    background: rgba(74, 119, 218, 0.8);
  }
  // blue rgba(74, 119, 218, 0.8)
  // orange rgba(254, 186, 0, 0.8)
  // green rgba(112, 183, 1, 0.8);

  &__project-name {
    margin: 0;
    margin-bottom: 3px;

    font-size: $font-size;
    line-height: $line-height - 7px;
    font-family: $font-stack;
    font-weight: $weight-medium;
    text-transform: uppercase;
  }

  &__project-description {
    margin: 0;

    font-size: $font-size - 2px;
    line-height: $line-height - 8px;
    font-family: $font-stack;
    font-weight: $weight-light;
  }

  &__arrow-wrap {
    display: block;
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 50px;
    z-index: 9;
    cursor: pointer;
  }

  &__arrow-wrap--left {
    right: 30%;
  }

  &__arrow-wrap--right {
    right: 10%;
  }

  &__arrow {
    fill: #68cfff;
  }

  &__arrow-wrap:hover .portfolio__arrow {
    fill: $blue-color;
  }

  &__arrow-wrap:active .portfolio__arrow {
    fill: #a7dcf5;
  }

  &__slide:hover &__project-info {
    padding-top: 20px;
    height: 135px;
    background: $green-color;
    transition: 0.5s ease-out;
  }

  &__slide:hover:nth-child(2n) &__project-info {
    background: $blue-color;
  }

  &__modal {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    overflow: auto;
    background: rgba(0, 0, 0, 0.9);
  }

  &__modal-close {
    position: fixed;
    z-index: 11;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  &__modal-content {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }

  &__modal-title {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;

    font-size: $h2-size - 15px;
    line-height: $h1-line-height;
    font-family: $font-stack;
    font-weight: $weight-medium;
    text-transform: uppercase;
    color: $orange-color;
    text-align: left;
  }

  &__modal-description {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-light;
    color: white;
    text-align: left;
  }

  &__modal-link {
    display: block;

    margin-bottom: 10px;
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-light;
    color: $orange-color;
  }

  &__modal-img {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: $screen_md) {
  .portfolio {
    padding-top: 150px;
    padding-bottom: 80px;
    margin-bottom: 35px;

    &__inner {
      @include container--tablet();
    }

    &__header {
      margin-bottom: 40px;
      font-size: $h1-size - 5px;
    }

    &__slider {
      margin-bottom: 10px;
      width: 75%;
      height: 290px;
    }

    &__slide {
      height: 290px;
    }

    &__project-info {
      padding: 13px;
      width: 70%;
      height: 100px;
    }

    &__project-name {
      margin-bottom: 5px;

      font-size: $font-size + 2px;
      line-height: $line-height - 6px;
    }

    &__project-description {
      font-size: $font-size;
      line-height: $line-height - 4px;
    }

    &__arrow-wrap {
      bottom: 33%;
    }

    &__arrow-wrap--left {
      left: 4%;
    }

    &__arrow-wrap--right {
      right: 4%;
    }

    &__slide:hover &__project-info {
      height: 170px;
    }

    &__modal-close {
      top: 30px;
      right: 30px;
    }

    &__modal-content {
      top: 100px;
    }

    &__modal-title {
      width: 500px;
      font-size: $h2-size - 10px;
    }

    &__modal-description {
      width: 500px;
      margin-bottom: 20px;
      font-size: $font-size + 5px;
      line-height: $line-height + 5px;
    }

    &__modal-link {
      margin-bottom: 30px;
      font-size: $font-size + 5px;
    }
  }
}

@media (min-width: $screen_lg) {
  .portfolio {
    padding-top: 225px;
    padding-bottom: 140px;
    margin-bottom: 10px;

    &::before {
      height: 65px;
      background-size: 100% 65px;
    }

    &__inner {
      @include container--desktop();
    }

    &__header {
      margin-bottom: 70px;
      font-size: $h1-size;
    }

    &__slider {
      width: 80%;
      height: 350px;
    }

    &__slide {
      width: 47%;
      height: 350px;
      margin-right: 1%;
      margin-bottom: 2%;
    }

    &__project-info {
      height: 120px;
    }

    &__project-description {
      font-size: $font-size - 2px;
      line-height: $line-height - 6px;
    }

    &__arrow-wrap {
      bottom: 40%;
    }

    &__arrow-wrap--left {
      left: 1%;
    }

    &__arrow-wrap--right {
      right: 2%;
    }

    &__slide:hover &__project-info {
      height: 170px;
    }

    &__modal-close {
      top: 40px;
      right: 40px;
    }

    &__modal-content {
      top: 150px;
    }

    &__modal-title {
      width: 700px;
      margin-bottom: 40px;
      font-size: $h2-size - 5px;
    }

    &__modal-description {
      width: 700px;
      margin-bottom: 30px;
      font-size: $font-size + 7px;
      line-height: $line-height + 7px;
    }

    &__modal-link {
      margin-bottom: 40px;
      font-size: $font-size + 10px;
    }

    &__modal-img {
      width: 70%;
    }
  }
}
