//
//
// Stylef for skills block

.skills {
  padding-top: 100px;
  position: relative;
  text-align: center;
  background: $orange-color;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    z-index: 5;
    height: 50px;
    background-image: url('../images/triangle-white.svg');
    background-repeat: no-repeat;
    background-size: 100% 50px;
  }

  &__inner {
    @include container();
  }

  &__header {
    margin: 0;
    margin-bottom: 150px;

    font-size: $h1-size - 5px;
    line-height: $h1-line-height;
    font-family: $font-stack;
    font-weight: $weight-bold;
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: 150px;
    position: relative;
    text-align: center;
  }

  &__item:last-child {
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  &__item::before {
    content: '';
    position: absolute;
    margin: auto;
    top: -115px;
    left: 0;
    right: 0;

    width: 90px;
    height: 103px;

    background-color: transparent;
    background-image: url('../images/js.png');
    background-repeat: no-repeat;
    background-size: 90px 103px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;

    font-size: $h2-size - 16px; // 18
    line-height: $h2-line-height - 14px; // 27
    font-family: $font-stack;
    font-weight: $weight-medium;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-light;
  }
}

@media (min-width: $screen_md) {
  .skills {
    padding-top: 120px;

    &__inner {
      @include container--tablet();
      @include clearfix();
    }

    &__header {
      margin-bottom: 165px;
      font-size: $h1-size;
    }

    &__item {
      float: left;
      width: 45%;
      margin-right: 10%;
      margin-bottom: 160px;
    }

    &__item:nth-child(2n) {
      margin-right: 0;
    }

    &__item:nth-last-child(2),
    &__item:last-child {
      margin-bottom: 25px;
      padding-bottom: 25px;
    }

    &__title {
      font-size: $h2-size - 14px;
    }
  }
}

@media (min-width: $screen_lg) {
  .skills {
    padding-top: 140px;

    &::before {
      height: 65px;
      background-size: 100% 65px;
    }

    &__inner {
      @include container--desktop();
    }

    &__header {
      margin-bottom: 200px;
      font-size: $h1-size + 15px;
    }

    &__item {
      // float: left;
      width: 20%;
      margin-right: 6%;
      margin-bottom: 200px;
    }

    &__item:nth-child(2n) {
      margin-right: 6%;
    }

    &__item:nth-child(4n) {
      margin-right: 0;
    }

    &__item:nth-last-child(4),
    &__item:nth-last-child(3),
    &__item:nth-last-child(2),
    &__item:last-child {
      margin-bottom: 50px;
      padding-bottom: 50px;
    }

    &__item:nth-child(2),
    &__item:nth-child(3),
    &__item:nth-child(6),
    &__item:nth-child(7) {
      padding-top: 60px;
    }

    &__item:nth-child(2)::before,
    &__item:nth-child(3)::before,
    &__item:nth-child(6)::before,
    &__item:nth-child(7)::before {
      top: -55px;
    }

    &__title {
      font-size: $h2-size - 14px;
    }
  }
}
