//
//
// Styles for team block

.team {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  text-align: center;

  &__inner {
    @include container();
  }

  &__header {
    margin: 0;
    margin-bottom: 30px;

    font-size: $h1-size - 10px;
    line-height: $h1-line-height;
    font-family: $font-stack;
    font-weight: $weight-medium;
    text-transform: uppercase;
    color: black;
  }

  &__members-wrap {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 280px;
    height: 280px;
    overflow: hidden;
    white-space: nowrap;
  }

  &__member {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }

  &__member img {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }

  &__member-info {
    position: absolute;
    bottom: -60%;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    text-align: left;
    background: rgba(0, 0, 0, 0.4);
  }

  &__member-name {
    margin: 0;
    margin-bottom: 5px;

    font-size: $font-size;
    line-height: $line-height - 7px;
    font-family: $font-stack;
    font-weight: $weight-medium;
    color: #7bb9dd;
  }

  &__member-position {
    position: relative;
    margin: 0;
    margin-bottom: 20px;

    font-size: $font-size;
    line-height: $line-height - 7px;
    font-family: $font-stack;
    font-weight: $weight-light;
    color: #eaeaea;
  }

  &__member-position::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 20%;
    height: 1px;
    background: #7bb9dd;
  }

  &__member-resume {
    margin: 0;
    margin-bottom: 1px;

    font-size: $font-size;
    line-height: $line-height - 3px;
    font-family: $font-stack;
    font-weight: $weight-light;
    color: white;
    white-space: normal;
    opacity: 0;
  }

  &__description {
    margin: 0;
    margin-bottom: 20px;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-light;
    color: black;
  }

  &__rate {
    display: block;
    width: 60%;
    padding: 5px 15px;
    margin: 0 auto;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-medium;
    text-transform: uppercase;

    border: 1px solid #557fc4;
    color: #557fc4;
  }

  &__arrows {
    @include clearfix();
    margin-bottom: 10px
  }

  &__arrow-wrap {
    display: block;
    margin-bottom: 10px;
    width: 70px;
    height: 60px;
    z-index: 9;
    cursor: pointer;
    user-select: none;
  }

  &__arrow-wrap--left {
    float: left;
    padding-left: 20%;
  }

  &__arrow-wrap--right {
    float: right;
    padding-right: 20%;
  }

  &__arrow {
    fill: #68cfff;
  }

  &__arrow-wrap:hover .team__arrow {
    fill: $blue-color;
  }

  &__arrow-wrap:active .team__arrow {
    fill: #a7dcf5;
  }

  &__member:hover &__member-info {
    position: absolute;
    bottom: 0;
    transition: 0.9s;
    background: rgba(0, 0, 0, 0.7);
  }

  &__member:hover &__member-resume {
    opacity: 1;
    transition: 3s;
  }
}

@media (min-width: $screen_md) {
  .team {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 35px;

    &__inner {
      @include container--tablet();
    }

    &__header {
      margin-bottom: 35px;
      font-size: $h1-size - 5px;
    }

    &__members-wrap {
      margin: 0 auto;
      margin-bottom: 50px;
      width: 80%;
      height: auto;
    }

    &__member {
      width: 46%;
      margin-right: 1%;
    }

    &__description {
      width: 500px;
      margin: 0 auto;
      margin-bottom: 30px;

      font-size: $font-size + 2px;
      line-height: $line-height + 3px;
    }

    &__rate {
      width: 50%;
      padding: 10px 15px;

      font-size: $font-size + 10px;
      line-height: $line-height;
    }

    &__arrows {
      margin-bottom: 0;
    }

    &__arrow-wrap {
      position: absolute;
      bottom: 55%;
    }

    &__arrow-wrap--left {
      float: none;
      padding-left: 0;
      left: 1%;
    }

    &__arrow-wrap--right {
      float: none;
      padding-right: 0;
      right: 5%;
    }
  }
}

@media (min-width: $screen_lg) {
  .team {
    padding-top: 100px;
    padding-bottom: 70px;
    margin-bottom: 35px;

    &__inner {
      @include container--desktop();
    }

    &__header {
      font-size: $h1-size;
    }

    &__members-wrap {
      margin-bottom: 80px;
    }

    &__member {
      width: 23.5%;
      margin-right: 1%;
    }

    &__arrow-wrap {
      bottom: 50%;
    }

    &__description {
      width: 640px;
    }

    &__rate {
      width: 50%;
      padding: 15px 0;

      font-size: $font-size + 20px;
    }

    &__arrow-wrap--left {
      left: 5%;
    }

    &__arrow-wrap--right {
      right: 7%;
    }
  }
}
