//
//
// Styles for testimonial block

.testimonial {
  padding-top: 100px;
  padding-bottom: 80px;
  background: #eaeced;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    z-index: 5;
    height: 50px;
    background-image: url('../images/triangle-white.svg');
    background-repeat: no-repeat;
    background-size: 100% 50px;
  }

  &__inner {
    @include container();
    position: relative;
    text-align: center;
  }

  &__slider {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background: white;
  }

  &__slide {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 30px;

    width: 100%;
    height: 100%;

    text-align: center;
    background: white;
  }

  &__header {
    margin: 0;
    margin-bottom: 30px;

    font-size: $h2-size;
    line-height: $h2-line-height;
    font-family: $font-stack;
    font-weight: $weight-medium;
    text-transform: uppercase;
    color: #557fc4;
  }

  &__photo {
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
  }

  &__photo img {
    width: 100%;
    margin: 0 auto;
  }

  &__photo-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    padding: 10px 0;
    margin: auto;
    color: white;
    background: grey;
    background: rgba(0, 0, 0, 0.4);
  }

  &__info-title {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;

    font-size: $h2-size - 16px;
    line-height: $h2-line-height - 20px;
    font-family: $font-stack;
    font-weight: $weight-medium;
    text-transform: uppercase;
    color: black;
  }

  &__info-text {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;

    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-stack;
    font-weight: $weight-light;
    color: black;
  }

  &__info-pictures {
    display: none;
  }

  &__arrow-wrap {
    display: block;
    margin: auto;
    position: absolute;
    bottom: -100px;
    width: 70px;
    height: 60px;
    z-index: 9;
    cursor: pointer;
  }

  &__arrow-wrap--left {
    left: 25%;
  }

  &__arrow-wrap--right {
    right: 25%;
  }

  &__arrow {
    fill: #2e5fb2;
  }

  &__arrow-wrap:hover .testimonial__arrow {
    fill: #548dec;
  }

  &__arrow-wrap:active .testimonial__arrow {
    fill: #9cbaee;
  }
}

@media (min-width: $screen_md) {
  .testimonial {
    padding-top: 130px;
    padding-bottom: 40px;

    &__inner {
      @include container--tablet();
    }

    &__slider {
      margin-bottom: 10px;
      width: 80%;
    }

    &__header {
      padding-top: 20px;
      font-size: $h2-size + 3px;
      line-height: $h2-line-height;
    }

    &__content {
      @include clearfix();
    }

    &__photo {
      float: left;
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
    }

    &__info {
      float: left;
      width: 50%;
      text-align: left;
    }

    &__info-title {
      margin: 0;
      margin-bottom: 5px;

      font-size: $h2-size - 15px;
      line-height: $h2-line-height - 10px;
    }

    &__info-text {
      margin: 0;
      margin-bottom: 20px;
    }

    &__info-pictures {
      display: block;
      font-size: 0;
    }

    &__info-pictures img {
      display: inline-block;
      margin-right: 5px;
      width: 40%;
    }

    &__arrow-wrap {
      bottom: 40%;
    }

    &__arrow-wrap--left {
      right: auto;
      left: 1%;
    }

    &__arrow-wrap--right {
      right: 1%;
    }
  }
}

@media (min-width: $screen_lg) {
  .testimonial {
    padding-top: 150px;
    padding-bottom: 50px;

    &::before {
      height: 65px;
      background-size: 100% 65px;
    }

    &__inner {
      @include container--desktop();
    }

    &__slider {
      margin-bottom: 20px;
    }

    &__info-title {
      margin-bottom: 10px;
      font-size: $h2-size - 12px;
    }

    &__info-text {
      margin-bottom: 30px;
    }

    &__info-pictures img {
      margin-right: 10px;
    }

    &__arrow-wrap--left {
      left: 2%;
    }

    &__arrow-wrap--right {
      right: 2%;
    }
  }
}
